.header__lang-link {
    font-size: 24px;
    font-weight: normal;
    color: #F5F5F5;
    text-decoration: none;
    margin-left: 18px;
    line-height: 28px;
    opacity: 1;
    transition: opacity .2s linear;
}

.header__lang-link:hover {
    opacity: 0.5;
  }
  @media screen and (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
  }